This is a simple template

simple var

{{ my_var }} 

access a hash
{{ ansible_facts.lsb.codename }} {{ ansible_facts['lsb']['codename'] }}

filters

{{ my_var | upper }}

loop 

{% for element in my_list %}
{{ element }}
{% endfor %}

loop output manipulation

--
{% for element in my_list %}{{ element }}{% endfor %}
--

--
{%- for element in my_list %}{{ element }}{% endfor %}
--

conditional

{% for element in my_list %}
{{ element }}
{% if element == "b" %}
  Hooray, we found b
{% endif %}
{% endfor %}


